@using TaskManager.ViewModels;
@model IndexViewModel;
@{
    ViewData["Title"] = "Task Manager";

    string addFormStyleDispley = "display: none;";
    string editFormStyleDispley = "display: none;";
    string deleteFormStyleDispley = "display: none;";
    if (Model.AddFormOpen) addFormStyleDispley = "";
    if (Model.EditFormOpen) editFormStyleDispley = "";
    if (Model.DeleteFormOpen) deleteFormStyleDispley = "";
}

<div>

    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>

    <div class="container">

        <div class="mb-2">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button id="btn-add" type="button" class="btn btn-success">Добавить</button>
                <button id="btn-edit" type="button" class="btn btn-warning">Редактировать</button>
                <button id="btn-delete" type="button" class="btn btn-danger">Удалить</button>
            </div>
        </div>

        <div class="mb-2">

            <div id="form-add" class="forms" style="@addFormStyleDispley">
                <form asp-action="Index" asp-controller="Home" method="POST" class="w-100">

                    <div class="form-floating mb-2">
                        <input asp-for="Add.EnteredName" class="form-control" id="floatingInputValue" placeholder="">
                        <label>Имя задачи</label>
                    </div>

                    <div class="form-floating mb-2">
                        <textarea asp-for="Add.EnteredDescription" class="form-control" placeholder=""
                            id="floatingTextarea" style="resize: none; min-height: 60px; max-height: 250px;"></textarea>
                        <label>Описание</label>
                    </div>

                    <div class="d-flex">

                        <div class="form-floating w-100">
                            <select asp-for="Add.EnteredStatusId" class="form-select" id="floatingSelectGrid"
                                aria-label="Floating label select example">
                                @foreach (var status in Model.Statuses)
                                {
                                    <option value="@status.StatusId">@status.StatusName</option>
                                }
                            </select>
                            <label for="floatingSelectGrid">Статус</label>
                        </div>

                        <div class="ms-2">
                            <button type="submit"
                                class="btn btn text-white border border-primary bg-primary rounded h-100">Добавить</button>
                        </div>

                    </div>

                </form>
            </div>

            <div id="form-edit" class="forms" style="@editFormStyleDispley">
                <form asp-action="Index" asp-controller="Home" method="POST" class="w-100">

                    <div class="form-floating mb-2">
                        <input asp-for="Edit.EnteredName" class="form-control" id="floatingInputValue" placeholder="">
                        <label>Имя задачи</label>
                    </div>

                    <div class="form-floating mb-2">
                        <textarea asp-for="Edit.EnteredDescription" class="form-control" placeholder=""
                            id="floatingTextarea" style="resize: none; min-height: 60px; max-height: 250px;"></textarea>
                        <label>Описание</label>
                    </div>

                    <div class="d-flex">

                        <div class="form-floating w-100">
                            <select asp-for="Edit.EnteredStatusId" class="form-select" id="floatingSelectGrid"
                                aria-label="Floating label select example">
                                @foreach (var status in Model.Statuses)
                                {
                                    <option value="@status.StatusId">@status.StatusName</option>
                                }
                            </select>
                            <label for="floatingSelectGrid">Статус</label>
                        </div>

                        <div class="ms-2">
                            <button type="submit"
                                class="btn btn text-white border border-primary bg-primary rounded h-100">Редактировать</button>
                        </div>

                    </div>

                    <input asp-for="Edit.ActiveTableRow" class="activeTableRow" style="display: none;">

                </form>
            </div>

            <div id="form-delete" class="forms" style="@deleteFormStyleDispley">
                <div class="d-flex">

                    <div class="alert alert-light border border-2 text-dark w-100 mb-0" role="alert">
                        <span class="fw-bold">Вы уверены что хотите удалить задачу?</span><br>
                        <ul class="mb-0">
                            <li>
                                <span class="fw-bold">Имя: </span>
                                <span class="activeRowName text-break"></span>
                            </li>
                            <li>
                                <span class="fw-bold">Описание: </span>
                                <span class="activeRowDescription text-break"></span>
                            </li>
                            <li>
                                <span class="fw-bold">Статус: </span>
                                <span class="activeRowStatusName text-break"></span>
                            </li>
                        </ul>
                    </div>

                    <form asp-action="Index" asp-controller="Home" method="POST" class="ms-2">
                        <input asp-for="Delete.ActiveTableRow" class="activeTableRow" style="display: none;">
                        <div class="btn-group-vertical h-100" role="group" aria-label="Basic example">
                            <button type="button" id="btnCloseFormDelete"
                                class="btn text-primary border border-primary rounded-top">Нет</button>
                            <button type="submit"
                                class="btn text-white border border-primary bg-primary rounded-bottom">Да</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>

    </div>

    @if (Model.AlertWrongEntry)
    {
        <div class="container">
            <div asp-validation-summary="All" class="alert alert-danger mb-2" role="alert"></div>
        </div>
    }

    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover" id="indexTable">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var table = (from task in Model.Tasks
                                     join status in Model.Statuses on task.StatusId equals status.StatusId
                                     orderby task.Id
                                     select new
                                     {
                                         Id = task.Id,
                                         Name = task.Name,
                                         Description = task.Description,
                                         StatusName = status.StatusName,
                                         StatusId = status.StatusId
                                     }).ToList();

                        int i = 1;
                        foreach (var row in table)
                        {
                            <tr id="@row.Id" class="part">
                                <th scope="row">@i</th>
                                <td class="name">@row.Name</td>
                                <td class="description">@row.Description</td>
                                <td class="status" id="@row.StatusId">
                                    @row.StatusName
                                </td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

@* <script src="~/js/index.js" asp-append-version="true"></script> *@